.App {
  display: flex;
  width: 500px;
  height:500px;
  border: 2px solid #69c;
}

.Square {
  position: absolute;
  transition: top 2s cubic-bezier(0, 0, 1, 1), left 2s cubic-bezier(0, 0, 1, 1) 
}

.Square g {
  transition-property: fill;
  transition-duration: 2s;
}


.Ball {
  position: absolute;
  transition: top 2s cubic-bezier(0, 0, 1, 1), 

}

.Ball g  {
  transition-property: fill;
  transition-duration: 2s;
}

.Ball svg  {
  transition: width 3s, height 3s
}

#color {
  transition-property: background-color;
  transition-duration: 2s;
}

@keyframes go-left-right {
    from {
      top: 410px;
    }
    to {
      top: 300;
    }
  }

.Ball2 {
  position: absolute;
  transition: top 1s cubic-bezier(0, 0, 1, 3);
  animation: go-left-right 1s infinite alternate;

}

.Ball2 g  {
  transition-property: fill;
  transition-duration: 2s;
  position: relative;
}